h1{
    color: gainsboro;
    background-color: black;
    text-align: center;    
}
h2{
    color: white;
    background-color: darkseagreen;
    text-align: center;  
}
h3{
        color: aqua;
}
td{
    background-color: azure
}

body{
    background-image:  url(../images/EX.jpeg);
}